.box {
    border: 2px solid black;
    padding: 23px;
    box-shadow: 10px 10px 15px 5px red;
}

.text {
    text-shadow: 10px 10px 15px red;
}

.outline {
    border: 4px solid rgb(207, 12, 12);
    outline: 4px solid rgb(122, 17, 171);
    outline-offset: 3px;
}